# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/raw/*.json
# Address dataset (local only)
data/raw/output.csv
data/raw/output_en.csv
# Simulation folder (hidden demo scripts)
.simulation/

# Virtual Environments
venv/
env/
.env
